*{
    font-family: Roboto;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1{
    font-size: 50px;
    color: rgb(242, 32, 32);
}

#login{
}